* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-page {
    background-color: #61dafb;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.login-container h1 {
    margin: 1rem 1rem 0.5rem 1rem;
}

.login-container form {
    padding: 1rem;
}

.login-container input {
    width: 80%;
    height: 50px;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.login-container button {
    width: 50%;
    height: 50px;
    background-color: #61dafb;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.login-container button:hover {
    background-color: #6dafbf;
    cursor: pointer;
}